<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HP Automation Test">
    <test name="NormalCases Test" preserve-order="true">
        <classes>
            <class name="Normalcases.CMO.LoginTest"/>
            <class name="Normalcases.CMO.VisitBooking"/>
            <class name="Normalcases.CMO.Cancelvisit"/>
            <class name="Normalcases.CMO.Cancelappointment"/>
            <class name="Normalcases.CMO.ChangeLanguage"/>
            <class name="Normalcases.CMO.SearchPatient"/>
            <class name="Normalcases.CMO.BillPage"/>
            <class name="Normalcases.Practitioner.PractitionerLogin"/>
            <class name="Normalcases.Practitioner.PractitionerPatientsCount"/>
            <class name="Normalcases.EligibiltyCheck.Eligibility"/>
        </classes>
    </test>
</suite>