# Copy this file to .env and set the real values.
HP_APP_TOKEN=
API_BASE_URL=http://10.24.13.10
API_AUTHORIZATION=Bearer null
API_PASSWORD=egy123
API_DEVICE_UUID=93eg2d
API_ENTITY_ID=MOHEGY
API_SOURCE=MDWEB
CMO_USERNAME=cmob6
PRACTITIONER_USERNAME=Genb6
LOGIN_API_SLA_MS=1000
